*, *::before, *::after {
    font-family: Arial;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container{
    --grid-size: 2;
    --cell-size: 20vmin;
    --cell-gap: 2vmin;

    position: relative;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #bbada0;
    gap: var(--cell-gap);
    border-radius: 2.5vmin;
    padding: var(--cell-gap);
    position: relative;
    z-index: 1;
}

.cell {
    background-color: rgba(238,228,218,.35);
    border-radius: 1.5vmin;
}

.tile {
    --x: 0;
    --y: 1;

    font-size: 7.5vmin;
    font-weight: bold;
    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: red;
    border-radius: 1.5vmin;
    z-index: 2;

    animation: tile-load 0.25s ease-out;
}

@keyframes tile-load {
    0% {
        transform: scale(0);
    }
}

